.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: 4px solid #121212;
  border-radius: 10px;
  min-width: 300px;
  overflow: hidden;
}

.card .content {
  flex: 1;
  padding: 15px 0px;
  background-color: #fff;
  color: #333;
}

.footer {
  padding: 5px 0px;
  background-color: #333;
  color: #fff;
}
